# Created by venv; see https://docs.python.org/3/library/venv.html
cat > .gitignore <<EOF
# Virtual environment
venv/
bin/
lib/
include/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django stuff:
*.migrations/
*.db

# OS
.DS_Store

# Git
!.gitignore

# Allow Django project files
!servicecrm/
!manage.py
!requirements.txt
EOF

